*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-image: url(/imgs/figuras.jpg);
    background-size: 100%;
}
.header{
    width: 80%;
    border: solid 1px grey;
    background-color: hsl(48, 100%, 93%,.3);
    color: #0FFFD1;
    padding: 10px;
    margin: 10px auto;
    border-radius: 10px;
    text-align: center;
}
.content{
    width: 350px;
    height: 320px;
    border: solid 1px black;
    background-color: hsl(48, 100%, 93%,.4);
    backdrop-filter: blur( 2px );
    color: white;
    border-radius: 10px;
    margin: 50px 0;
    box-sizing: border-box;
    box-shadow: 1px 3px yellow;
}
.content-dos{
    height: 410px;
}
.content-cuatro{
    height: 350px;
    justify-self: flex-start;
    align-self: flex-start;
}
.content__header{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 10px;
}
.content__title{
    text-align: center;
}
.content__list{
    list-style: none;
    padding: 0;
    margin: 0;
}
.content__item1{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px 0;   
}
.content__item2{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
.content__item2-dos{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.content__item3{
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}
.content__item2-cuatro{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.content__label{
    width: 300px;
    display: block;
}
.content__input{
    width: 200px;
    border-block-end: #0FFFD1 solid 2px;
    background-color: transparent;
    border-radius: 20px;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    outline: none;
    height: 30px;
    color: white;
    text-align: center;
}
.content__input::placeholder { color: yellow; font-weight: bold; }
.button{
    border-radius: 10px;
    width: 150px;
    height: 30px;
    background-color: #454546;
    color: white;
    border-block-end: #dcdcdc;
    box-shadow: .5px 1.5px #dcdcdc;
}
.button__content__cuatro--uno{
    width: 200px;
    margin: 10px 0;
}
.button:hover{
    border-color: yellow;
    color: yellow;
}
