*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-image: url(/imgs/figuras.jpg);
    background-size: 100%;
}
.header{
    width: 900px;
    border: solid 1px grey;
    background-color: hsl(48, 100%, 93%,.6);
    padding: 10px 0;
    margin: 10px 0;
    border-radius: 10px;
    text-align: center;
}
.section1{
    width: 350px;
    height: 300px;
    border: solid 1px black;
    background-color: hsl(48, 100%, 93%,.6);
    border-radius: 10px;
    margin-top: 50px;
}
.section1__header{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 10px;
}
.section1__list{
    list-style: none;
    padding: 0;
    margin: 0;
}
.section1__item1, .section1__item2{
    margin: 20px 0;
}
.section1__item1{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;   
}
.section1__item2{
    display: flex;
    justify-content: space-around;
}

.section1__label{
    width: 300px;
}
.section1__input{
    width: 200px;
}
.button{
    border-radius: 10px;
    width: 150px;
    height: 30px;
    background-color: white;
}
